
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
*{
    padding:0;
    margin:0;
    border:0px;
    text-decoration: none;
    list-style: none;
}
*:focus{
    outline:0;

}
html,body{
    height:100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.chat{
    height: 100%;
    display:flex;
}
.chat .content{
    display:flex;
    flex-direction: column;
}

.chat .sidebar{
    width:300px;
    background-color:#f5f5f5;
    flex-shrink: 0;
    display:flex;
    flex-direction: column;
}

.chat .sidebar .search{
    height:50px;
    border-bottom:1px solid #ddd;
    position:relative;
    padding: 0 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.chat .sidebar .search input{
    width:100%;
    height:30px;
    background-color:#fff;
    border-radius:30px;
    font-size:14px;
    padding:0 35px 0 15px;
}
.chat .sidebar .search i{
    position:absolute;
    top:0px;
    right:0px;
    width:40px;
    height:50px;
    display:flex;
    align-items:center;
    font-size:14px;
    color:#999;
}
.chat .sidebar .contacts {
    overflow: auto;
    flex:1;
}

.chat .sidebar .contacts ul li a{
    display:flex;
    height:60px;
    align-items:center;
    padding: 0 10px;
}
.chat .sidebar .contacts ul li.active a {
background:#fff;
}
.chat .sidebar .contacts ul li a:hover{
    background-color:rgba(255,255,255,0.6);
}
.chat .sidebar .contacts ul li a img{
    width:40px;
    height:40px;
    border-radius:40px;
    margin-right:10px;
}
.chat .sidebar .contacts ul li.active a .notification {
    background:red;
    width:18px;height:18px;
    border-radius:50%;
    color:white;
    font-weight:bold;
    font-size:11px;
    text-align: center;
    line-height:18px;
   margin-left:auto;
}
.chat .sidebar .contacts ul li.active a .notification:empty{
    display: none;
}
.chat .sidebar .contacts ul li a .contact .name{
    font-weight: 500;
    font-size:15px;
    color:#333;
    margin-bottom:3px;
}
.chat .sidebar .contacts ul li a .contact .message{
    font-size:13px;
    color:#999;
}

.chat .content{
    flex:1;
    border-left:1px solid #ddd;
}

.chat .content .message-header{
    height:50px;
    flex-shrink: 0;
    border-bottom:1px solid #ddd;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 15px;
}
.chat .content .message-header .user-info{
    display: flex;
    align-items:center;
}
.chat .content .message-header img{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:10px;
}
.chat .content .message-header .user-info .name {
    font-weight:500;
    font-size:13px;
}
.chat .content .message-header .user-info .time {
    color:#ddd;
    font-size:10px;
}

.chat .content .message-header .actions ul{
    display:flex;
}.chat .content .message-header .actions ul li a{
    display:block;
    width:30px;
    text-align: center;
    font-size:20px;
    color: #999;
 }
.chat .content .message-header .actions ul li a:hover{
    color:#222;
 }

.chat .content .message-content{
    flex:1;
    display:flex;
    flex-direction: column-reverse;
    padding:15px;
    overflow: auto;
}
.chat .content .message-content .message {
    align-self:flex-start;
    margin-bottom:10px;
}
.chat .content .message-content .message .bubble{
    padding: 6px 12px;
    border-radius:20px;
    font-size:15px;
    margin-bottom:3px;
    background:#f7f7f7;
}
.chat .content .message-content .message .time{
    font-size:10px;
    color:#999;
}
.chat .content .message-content .message.own{
    align-self:flex-end;
}
.chat .content .message-content .message.own .time{
    text-align: right;
}
.chat .content .message-content .message.own .bubble{
    background: #5086ed;
    color:white;
}
.chat .content .message-form{
    border-top:1px solid #ddd;
    background:#eee;
    padding:10px;
}
.chat .content .message-form ul {
    display:flex;
}
.chat .content .message-form ul li{
    margin: 0 5px;
}
.chat .content .message-form ul li.input {
flex:1;
}
.chat .content .message-form ul li.input input{
    width:100%;
    box-sizing:border-box;
    height:36px;
    border-radius:36px;
    border:1px solid #ddd;
    font-size:14px;
    padding: 0 15px;
}

.chat .content .message-form ul li a{
    width:36px;height:36px;
    display:block;
    border-radius:50%;
    background-color:black;
    color:white;
    text-align:center;
    line-height:36px;
}




.chat .content .message-form ul li.emoji-select-btn a{background-color:royalblue;}
.chat .content .message-form ul li.voice-record-btn a{background-color:indianred;}
.chat .content .message-form ul li.gallery-select-btn a{background-color:forestgreen;}